.content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	overflow: hidden;
}

.hide {
	transition: 300ms ease-in;
	opacity: 0;
	transform: translate(-100%, -100%);
}
