.menuItem {
	position: relative;
	transition: 300ms;
	margin: 0 15px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.menuItem::after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0;
	background-color: black;
	height: 1px;
	left: 0;
	transition: 300ms ease-in;
}

.menuItem:hover::after {
	width: 100%;
	transition: 300ms ease-out;
}