@import './common-styles/flex-helpers.css';
@import './common-styles/animations.css';
@import './common-styles/some-helpers.css';

@font-face {
	font-family: 'dinPro';
	font-style: normal;
	font-weight: 300;
	src: url('./data/fonts/din-pro.ttf') format('ttf');
}

body, ul, li, div {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

#root {
	box-sizing: border-box;
}